body {
    background-color: #212121;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

/*make the buttons within the life edit collapsible the same width*/
.row > .col.s6 > .btn {
   width: 90%;
}

input[type=range]::-webkit-slider-thumb {
    background-color: #00695c;
}

input[type=range] + .thumb {
    background-color: #dedede;
  }
  input[type=range] + .thumb.active .value {
    color: black;
  }