body {
    background-color: #212121;
}

input[type=range]::-webkit-slider-thumb {
    background-color: #00695c;
}

input[type=range] + .thumb {
    background-color: #dedede;
  }
  input[type=range] + .thumb.active .value {
    color: black;
  }