<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--interesting link around fixing zoom on mobile devices: https://stackoverflow.com/questions/4472891/how-can-i-disable-zoom-on-a-mobile-web-page-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MTG Game Manager</title>
    <link rel="icon" href="images/favicon.ico">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="css/mana.css" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/style.css" media="screen,projection" />


</head>

<body data-ng-app="myApp" data-ng-controller="myCtrl">

    <!--navbar-fixed + mobile menu issue: https://github.com/Dogfalo/materialize/issues/3844-->
    <!--long story short, keep the mobile ul outside of the fixed div-->
    <div class="container">
        <nav class="nav-extended">
            <div class="nav-wrapper red darken-3">
                <a href="#" class="brand-logo center">MTG Game Manager <sup>&#169;</sup></a>
            </div>
            <div class="nav-content red darken-3">
                <ul class="tabs tabs-fixed-width tabs-transparent">
                    <li class="tab"><a class="active" href="#playerManagement">Players</a></li>
                    <li class="tab"><a href="#gameLog">Log</a></li>
                    <li class="tab"><a href="#gameTools">Tools</a></li>
                    <li class="tab"><a href="#cardLookup">Lookup</a></li>
                    <li class="tab"><a href="#info">Info</a></li>
                </ul>
            </div>
        </nav>

        <div id="playerManagement">
            <div class="white-text" data-ng-hide="players.length > 0">
                <p class="center-align">No players!</p>
            </div>
            <div data-ng-repeat="p in players track by $index">
                <div class="card blue hoverable">
                    <div class="card-content white-text">
                        <div class="row">
                            <a data-ng-click="getWorkingPlayer(p)" href="#{{p.id}}">
                                <div class="border col s10">
                                    <span class="card-title">
                                    <p><b>{{p.name}}</b></p>
                                    <p>&hearts; {{p.life}}</p>
                                </span>
                                </div>
                            </a>
                            <div class="col s2">
                                <a class="waves-effect waves-light btn-floating right grey darken-4 white-text" href="#modalDeletePlayer" data-ng-click="getWorkingPlayer(p)"><i class="material-icons">delete</i></a>
                            </div>
                        </div>
                        <div class="row white-text" data-ng-show="p.life <= 0">
                            <p class="center-align"><b>Player is out of life!</b></p>
                        </div>
                        <div ng-repeat="otherPlayer in p.damage track by $index">
                            <div class="row white-text" data-ng-show="otherPlayer.damageReceived >= 21">
                                <p class="center-align"><b>Lethal commander damage from {{otherPlayer.name}}!</b></p>
                            </div>
                        </div>
                    </div>
                    <div ng-attr-id="{{p.id}}" class="modal playerInfo">
                        <div class="modal-content">
                            <h4 class="center">{{p.name}}</h4>
                            <ul class="collapsible" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-header white black-text"><i class="material-icons">person_pin</i>Life: {{p.life}}</div>
                                    <div class="lifeButtons collapsible-body white black-text">
                                        <div class="row">
                                            <div class="col s6">
                                                <a class="waves-effect waves-light teal darken-3 btn" data-ng-click="adjustPlayerLife(p, -1)"><b>-</b></a>
                                            </div>
                                            <div class="col s6">
                                                <a class="waves-effect waves-light teal darken-3 right btn" data-ng-click="adjustPlayerLife(p, 1)"><b>+</b></a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s6">
                                                <a class="waves-effect waves-light teal darken-3 btn" data-ng-click="adjustPlayerLife(p, -5)"><b>-5</b></a>
                                            </div>
                                            <div class="col s6">
                                                <a class="waves-effect waves-light teal darken-3 right btn" data-ng-click="adjustPlayerLife(p, 5)"><b>+5</b></a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s6">
                                                <a class="waves-effect waves-light teal darken-3 btn" data-ng-click="adjustPlayerLife(p, -p.life/2)"><b>1/2</b></a>
                                            </div>
                                            <div class="col s6">
                                                <a class="waves-effect waves-light teal darken-3 right btn" data-ng-click="adjustPlayerLife(p, p.life)"><b>x2</b></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header white black-text"><i class="material-icons">grade</i>Commander Damage</div>
                                    <div class="collapsible-body white black-text">
                                        <ul class="collapsible" data-collapsible="accordion" data-ng-show="p.damage.length > 0">
                                            <li data-ng-repeat="otherPlayer in p.damage track by $index">
                                                <div class="collapsible-header">{{otherPlayer.name}}: {{otherPlayer.damageReceived}}</div>
                                                <div class="collapsible-body">
                                                    <div class="row">
                                                        <div class="row">
                                                            <p class="range-field">
                                                                <input type="range" data-ng-model="otherPlayer.damageReceived" data-ng-change="savePlayers()" min="0" max="21" />
                                                            </p>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col s6">
                                                                <a class="waves-effect waves-light teal darken-3 btn" data-ng-click="adjustCommanderDamage(p, otherPlayer, -1)"><b>-</b></a>
                                                            </div>
                                                            <div class="col s6">
                                                                <a class="waves-effect waves-light teal darken-3 right btn" data-ng-click="adjustCommanderDamage(p, otherPlayer, 1)"><b>+</b></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header white black-text"><i class="material-icons">swap_vert</i>Counters</div>
                                    <div class="collapsible-body white black-text">
                                        <ul class="collapsible" data-collapsible="accordion" data-ng-show="p.counters.length > 0">
                                            <li data-ng-repeat="counter in p.counters track by $index">
                                                <div class="collapsible-header">{{counter.name}}: {{counter.value}}</div>
                                                <div class="collapsible-body">
                                                    <div class="row">
                                                        <div class="col s6">
                                                            <a class="waves-effect waves-light teal darken-3 btn" data-ng-click="alterCounter(p, counter, -1)"><b>-</b></a>
                                                        </div>
                                                        <div class="col s6">
                                                            <a class="waves-effect waves-light teal darken-3 right btn" data-ng-click="alterCounter(p, counter, 1)"><b>+</b></a>
                                                        </div>
                                                    </div>
                                                    <p class="center-align"><a class="waves-effect waves-light grey darken-4 btn" data-ng-click="deleteCounter(p, counter)">Delete Counter</a></p>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="row">
                                            <p class="center-align"><a class="waves-effect waves-light teal darken-3 btn" href="#modalAddCounter"
                                                    data-ng-click="getWorkingPlayer(p)">Add Counter</a></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                        </div>
                    </div>
                </div>
                </li>
                </ul>
            </div>
            <div class="fixed-action-btn">
                <a data-ng-class="{'pulse' : players.length <= 0}" class="btn-floating btn-large waves-effect waves-light red darken-3 z-depth-4"
                    href="#modalAddPlayer"><i class="material-icons">add</i></a>
            </div>
        </div>

        <div id="gameTools">
            <div class="white-text">
                <p class="center-align">Not implemented yet!</p>
            </div>
        </div>

        <div id="cardLookup">
            <div class="input-field" id="searchCards">
                <input class="transparent white-text" type="search" data-ng-model="cardSearchName">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            </div>
            <p class="center-align"><a class="waves-effect waves-light btn" data-ng-click="searchCards()">Search</a></p>
            <ul data-ng-show="cardsArray.cards.length > 0" class="collapsible popout" data-collapsible="accordion">
                <li data-ng-repeat="details in cardsArray.cards track by $index">
                    <div class="collapsible-header white black-text truncate">{{details.name}} ({{details.setName}})</div>
                    <div class="collapsible-body white black-text">
                        <div>
                            Cost: <span data-ng-bind="details.manaCost" class="manaCost"></span>
                            <br /> CMC: <span><i class="ms ms-cost ms-{{details.cmc}}"></i></span>
                        </div>
                        <p data-ng-bind="details.type"></p>
                        <p data-ng-class="{'planeswalker': details.type.indexOf('Planeswalker') >= 0}" class="cardText" data-ng-bind="details.text"></p>
                        <p><i><span data-ng-bind="details.flavor"></span></i></p>
                        <p data-ng-show="details.hasOwnProperty('power')"><b><span data-ng-bind="details.power"></span> / <span data-ng-bind="details.toughness"></span></b></p>
                        <ul data-ng-show="details.rulings.length > 0" class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header white-black-text">Rulings</div>
                                <div class="collapsible-body white black-text">
                                    <ul class="collection">
                                        <li class="collection-item" data-ng-repeat="ruling in details.rulings track by $index">
                                            <span data-ng-bind="ruling.date"></span> - <span data-ng-bind="ruling.text"></span>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <ul data-ng-show="details.legalities.length > 0" class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header white-black-text">Legalities</div>
                                <div class="collapsible-body white black-text">
                                    <ul class="collection">
                                        <li class="collection-item" data-ng-repeat="legal in details.legalities track by $index">
                                            <span data-ng-bind="legal.format"></span>: <span data-ng-bind="legal.legality"></span>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div id="gameLog">
            <div class="input-field" id="searchLog">
                <input class="transparent white-text" type="search" data-ng-model="logQuery">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            </div>
            <ul class="collection" data-ng-show="gameLog.length > 0">
                <li class="collection-item grey lighten-3" data-ng-repeat="event in gameLog | orderBy:'$index':true | filter : logQuery track by $index">
                    {{event}}
                </li>
            </ul>
        </div>

        <div id="info">
            <div class="row">
                <div class="col s12">
                    <div class="card-panel teal">
                        <span class="white-text">
                            <p class="center-align"><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.</p>    
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card-panel teal">
                        <span class="white-text">
                            <p class="center-align">Special thanks to the teams behind AngularJS, Materialize and the MTG API, and "The Magic: the Gathering mana symbol font!" by andrewgioia. Without their amazing efforts, this project wouldn't be possible.</p>
                         </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card-panel teal">
                        <span class="white-text">
                            <p class="center-align">This is an independantly developed tool made in my spare time, and is not sponsored by any individual or group.</p>
                            <p class="center-align">This software does not reflect or represent the ideals or philosophies of Wizards of the Coast<sup>&trade;</sup>, and I do not claim any ownership of Wizards of the Coast<sup>&trade;</sup> or their intellectual property.</p>
                         </span>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <div id="modalAddPlayer" class="modal">
        <div class="modal-content grey lighten-3">
            <h4>Add Player</h4>
            <div class="row input-field">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" id="playerNameInput" data-ng-model="playerName">
                <label for="playerNameInput">Player name</label>
            </div>
        </div>
        <div class="modal-footer grey lighten-3">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            <a class="waves-effect waves-light btn grey darken-4 white-text" data-ng-click="addPlayer()">Add</a>
        </div>
    </div>

    <div id="modalAddCounter" class="modal">
        <div class="modal-content grey lighten-3">
            <h4>Add counter</h4>
            <div class="row input-field">
                <i class="material-icons prefix">swap_vert</i>
                <input type="text" id="counterNameInput" data-ng-model="newCounterName">
                <label for="counterNameInput">Counter name</label>
            </div>
        </div>
        <div class="modal-footer grey lighten-3">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            <a class="waves-effect waves-light btn grey darken-4 white-text" data-ng-click="addNewCounter()">Add</a>
        </div>
    </div>

    <div id="modalDeletePlayer" class="modal">
        <div class="modal-content grey lighten-3">
            <h4>Delete player?</h4>
            <p>This cannot be undone.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a class="waves-effect waves-light btn grey darken-4 white-text" data-ng-click="deletePlayer()">Delete</a>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

    <script>

    </script>

</body>

</html>